---
layout: pages
titulo: Galeria
conteudo: Galeria
---

<section class="gallery">
    {% assign c = site.data.collections | sort: 'name' %}
    {% for collection in c %}
    <div class="">
            <img src="{{ collection.thumb }}" alt="{{ palestrante.name }}" width="500px" height="100px">
        <div class="">
            <h3 class="">{{ collection.name }}</h3>
            <p class="">{{ collection.description }}</p>
            <a href="{{ collection.link }}">link</a>

            {% for item in site.data.navigation %}
            <a href="{{ item.link }}">
              {{ item.name }}
            </a>
          {% endfor %}
            

        </div>
    </div>
    {% endfor %}
</section>